@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Mohave', sans-serif;
    color: white;
  }

  h1,
  h2 {
    font-family: 'Zen Antique', serif;
  }
}

@layer components {
  .nav {
    @apply bg-white flex items-center  mt-3 text-black w-[88vw] mx-auto px-4 py-2 h-[43vh];
  }

  .link-item {
    @apply text-xl;
  }

  .link-span {
    @apply mr-2 lg:ml-8;
  }

  .link {
    @apply my-3 hover:font-medium;
  }

  .home-bg {
    @apply bg-[url("https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/home/background-home-mobile.jpg?raw=true")] md:bg-[url("https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/home/background-home-desktop.jpg?raw=true")] sm:bg-[url("https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/home/background-home-tablet.jpg?raw=true")];
  }

  .dest-bg {
    @apply bg-[url('https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/destination/background-destination-mobile.jpg?raw=true')] sm:bg-[url('https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/destination/background-destination-tablet.jpg?raw=true')]
    md:bg-[url('https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/destination/background-destination-desktop.jpg?raw=true')];
  }

  .crew-bg {
    @apply bg-[url('https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/crew/background-crew-mobile.jpg?raw=true')] sm:bg-[url('https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/crew/background-crew-tablet.jpg?raw=true')]
    md:bg-[url('https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/crew/background-crew-desktop.jpg?raw=true')];
  }

  .dot-icon {
    @apply h-3 w-3 lg:h-4 lg:w-4;
  }

  .tech-bg {
    @apply bg-[url('https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/technology/background-technology-mobile.jpg?raw=true')] sm:bg-[url('https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/technology/background-technology-tablet.jpg?raw=true')]
    md:bg-[url('https://github.com/Shehara-r-001/space-tourism-2-r18/blob/main/src/assets/technology/background-technology-desktop.jpg?raw=true')];
  }

  .crew-btn {
    @apply h-6 w-6 border rounded-full p-1 lg:h-10 lg:w-10 lg:p-3;
  }
}
